# Dependency directories
node_modules/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python
venv/
backend/venv/
__pycache__/
*.py[cod]
*$py.class
*.env
backend/.env

# Supabase
supabase/.temp/
supabase/functions/.env

# IDEs
.vscode/

# OS files
.DS_Store
Thumbs.db
